.header_content h1 span{
    font-style: italic;
}

.about__container{
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}

.about__content p{
    margin-bottom: 2rem;
    color: var(--text-light);
    font-size: 1.15rem;
}

.about__content h4{
    position: relative;
    margin-bottom: 2rem;
    padding-left: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-alt);
    color: var(--text-dark);
    font-style: italic;
}

.about__content h4::before{
    position: absolute;
    content: '';
    top: 0;
    left: 2rem;
    height: 100%;
    width: 1rem;
    background-color: var(--primary-color);
}

.about__image img{
    margin: auto;
    max-width: 500px;
    outline: 2px solid var(--text-light);
    outline-offset: 1rem;
    
}

@media (width < 900px) {
    .about__container{
        grid-template-columns: repeat(1,1fr);
        gap: 5rem;
    }

    .about__image{
        grid-area: 1/1/2/2;
    }

    .about__image img{
        max-width: 300px;
    }
}